@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Noto+Sans+JP:wght@300;700&family=Noto+Serif+JP:wght@300;700&display=swap");
body {
  color: #eeeeee;
  background: #223;
  line-height: 1.4;
  font-family: "Noto Sans JP", sans-serif;
}

.inner {
  width: 1200px;
  max-width: 100%;
  height: inherit;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-top: 240px;
  margin-bottom: 160px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

.button a {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #e8b819;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
  }
}

.button a:hover {
  opacity: 0.7;
}

.back {
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#226));
  background: linear-gradient(to bottom, #111, #226);
  position: fixed;
}

canvas {
  position: fixed;
}

.fwb {
  font-weight: 700;
}

.header {
  height: 80px;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  padding-left: 80px;
}

.header__logo a {
  color: #eeeeee;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 767px) {
  .header__logo a {
    font-size: 16px;
  }
}

.header__logo a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks-logo2.png?raw=true) center center/cover;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.drawer-content__item {
  border-bottom: 1px dotted #707070;
}

.drawer-content__item a {
  display: block;
  color: #707070;
  text-decoration: none;
  padding: 18px 20px;
  position: relative;
}

.drawer-content__item a::after {
  content: "";
  position: absolute;
  right: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-b.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.main-visual__content {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks1.jpg?raw=true) no-repeat center center/cover;
  height: 600px;
  overflow: hidden;
}

.main-visual__inner {
  position: relative;
}

.main-visual__title {
  font-weight: 700;
  font-size: 40px;
  font-family: "Noto Serif JP", sans-serif;
  line-height: 2;
  position: absolute;
  top: 100px;
  left: 200px;
}

@media (max-width: 767px) {
  .main-visual__title {
    font-size: 24px;
    top: 80px;
    left: 140px;
  }
}

.main-visual__title__circle {
  border-radius: 50%;
  background: #223;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}

.main-visual__title__circle1 {
  width: 480px;
  height: 480px;
  position: absolute;
  top: 160px;
  left: -160px;
}

@media (max-width: 767px) {
  .main-visual__title__circle1 {
    top: 240px;
    left: -120px;
    width: 320px;
    height: 320px;
  }
}

.main-visual__title__circle2 {
  width: 320px;
  height: 320px;
  position: absolute;
  top: -20px;
  right: -40px;
}

@media (max-width: 767px) {
  .main-visual__title__circle2 {
    top: -10px;
    right: -30px;
    width: 160px;
    height: 160px;
  }
}

.main-visual__date {
  font-weight: 700;
  font-size: 24px;
  font-family: "Noto Serif JP", sans-serif;
  line-height: 2;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 70px;
}

.main-visual__date span {
  font-size: 64px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .main-visual__date {
    top: 24px;
    right: 40px;
    font-size: 12px;
    bottom: 24px;
  }
  .main-visual__date span {
    font-size: 32px;
  }
}

.subheader {
  height: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  background: rgba(0, 0, 0, 0.7);
}

.subheader.is-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media (max-width: 767px) {
  .subheader {
    display: none;
  }
}

.subheader__inner {
  height: inherit;
}

.subheader__nav {
  margin-left: 8px;
  margin-right: 8px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subheader__nav a {
  color: #eeeeee;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .subheader__nav a {
    font-size: 12px;
  }
}

.sns__content {
  width: 800px;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  margin-top: 80px;
}

.sns__subtitle {
  font-size: 24px;
  color: #e8b819;
  font-weight: 700;
}

@media (max-width: 767px) {
  .sns__subtitle {
    font-size: 16px;
  }
}

.sns__text a, .twitter__text a, .facebook__text a {
  text-decoration: none;
  color: #e8b819;
}

.sns__text a:hover, .twitter__text a:hover, .facebook__text a:hover {
  text-decoration: underline;
}

.sns__text {
  margin-top: 80px;
  text-align: left;
}

@media (max-width: 767px) {
  .sns__text {
    font-size: 12px;
  }
}

.sns__text span {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .sns__text span {
    font-size: 24px;
  }
}

.sns__wrapper {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sns__titles {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 16px;
  border: 2px solid #eeeeee;
}

@media (max-width: 767px) {
  .sns__titles {
    font-size: 16px;
    padding: 8px;
  }
}

.instagram {
  width: 50%;
}

@media (max-width: 767px) {
  .instagram {
    width: 100%;
  }
}

.instagram__title a {
  text-decoration: none;
  color: #eeeeee;
  position: relative;
}

.instagram__title a::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/instagram.png?raw=true) no-repeat center center/contain;
}

.instagram__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instagram__photo {
  width: 50%;
  height: 300px;
  border: 1px solid #eeeeee;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .instagram__photo {
    height: 25vw;
  }
}

@media (max-width: 767px) {
  .instagram__photo {
    height: 50vw;
  }
}

.instagram__photo__1 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks2.jpg?raw=true) no-repeat center center/cover;
}

.instagram__photo__2 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks3.jpg?raw=true) no-repeat center center/cover;
}

.instagram__photo__3 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks4.jpg?raw=true) no-repeat center center/cover;
}

.instagram__photo__4 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks5.jpg?raw=true) no-repeat center center/cover;
}

.tiktok {
  width: 50%;
}

@media (max-width: 767px) {
  .tiktok {
    width: 100%;
  }
}

.tiktok__title a {
  text-decoration: none;
  color: #eeeeee;
  position: relative;
}

.tiktok__title a::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/tik-tok.png?raw=true) no-repeat center center/contain;
}

.tiktok__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tiktok__photo {
  width: 50%;
  height: 300px;
  border: 1px solid #eeeeee;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .tiktok__photo {
    height: 25vw;
  }
}

@media (max-width: 767px) {
  .tiktok__photo {
    height: 50vw;
  }
}

.tiktok__photo__1 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks6.jpg?raw=true) no-repeat center center/cover;
}

.tiktok__photo__2 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks7.jpg?raw=true) no-repeat center center/cover;
}

.tiktok__photo__3 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks8.jpg?raw=true) no-repeat center center/cover;
}

.tiktok__photo__4 {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks9.jpg?raw=true) no-repeat center center/cover;
}

.sns__contents {
  padding: 24px;
  padding-left: 100px;
  border: 1px solid #eeeeee;
  position: relative;
}

@media (max-width: 767px) {
  .sns__contents {
    font-size: 12px;
    padding: 16px;
    padding-left: 80px;
  }
}

.sns__contents::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 24px;
  left: 24px;
  border-radius: 50%;
  background: #fff;
}

.twitter {
  width: 50%;
}

@media (max-width: 767px) {
  .twitter {
    width: 100%;
  }
}

.twitter__title a {
  text-decoration: none;
  color: #eeeeee;
  position: relative;
}

.twitter__title a::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/twitter.png?raw=true) no-repeat center center/contain;
}

.twitter__content::before {
  background: #666;
}

.twitter__photo {
  width: 300px;
  height: 300px;
  margin: 40px auto;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks10.jpg?raw=true) no-repeat center center/cover;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .twitter__photo {
    height: 25vw;
    width: 25vw;
  }
}

@media (max-width: 767px) {
  .twitter__photo {
    height: 50vw;
    width: 50vw;
  }
}

.facebook {
  width: 50%;
}

@media (max-width: 767px) {
  .facebook {
    width: 100%;
  }
}

.facebook__title a {
  text-decoration: none;
  color: #eeeeee;
  position: relative;
}

.facebook__title a::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/facebook.png?raw=true) no-repeat center center/contain;
}

.facebook__content::before {
  background: #345678;
}

.facebook__photo {
  width: 300px;
  height: 300px;
  margin: 40px auto;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks11.jpg?raw=true) no-repeat center center/cover;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .facebook__photo {
    height: 25vw;
    width: 25vw;
  }
}

@media (max-width: 767px) {
  .facebook__photo {
    height: 50vw;
    width: 50vw;
  }
}

.course__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 767px) {
  .course__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.course__photo {
  width: 100%;
  height: 400px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/cruise.jpg?raw=true) no-repeat center center/cover;
}

.course__content {
  width: 100%;
  padding-left: 40px;
}

.course__title {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .course__title {
    font-size: 16px;
    margin-top: 16px;
  }
}

.course__text {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .course__text {
    font-size: 12px;
    margin-top: 16px;
  }
}

.ticket__inner {
  margin-bottom: 160px;
}

.ticket__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ticket__item {
  width: 40%;
  background: rgba(0, 0, 0, 0.7);
  border: #eeeeee 2px solid;
  color: #eeeeee;
  margin: 40px auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket__item span {
  font-size: 40px;
}

@media (max-width: 767px) {
  .ticket__item {
    width: 90%;
  }
}

.ticket__name {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
}

.ticket__detail {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.ticket__text {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ticket__button {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.ticket__button a {
  display: inline-block;
  margin-right: 16px;
  width: 200px;
  max-width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #e8b819;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .ticket__button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
  }
}

.ticket__button a:hover {
  opacity: 0.7;
}

.infection {
  background: #eeeeee;
  color: #223;
  overflow: hidden;
}

.infection__inner {
  margin-bottom: 160px;
}

@media (max-width: 767px) {
  .infection__inner {
    margin-bottom: 80px;
  }
}

.infection__head {
  margin-top: 160px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .infection__head {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.infection__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infection__item {
  width: 48%;
  text-align: center;
  margin-top: 200px;
  font-weight: 700;
  font-size: 24px;
  position: relative;
}

@media (max-width: 767px) {
  .infection__item {
    margin-top: 120px;
    font-size: 16px;
  }
}

.infection__item::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background: #e8b819;
  top: -130px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

@media (max-width: 767px) {
  .infection__item::before {
    width: 80px;
    height: 80px;
    top: -80px;
  }
}

.logo__wash::before {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/washing-hands.png?raw=true) center center/contain;
  opacity: 0.6;
}

.logo__mask::before {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/face-mask.png?raw=true) center center/contain;
  opacity: 0.6;
}

.logo__body-temperature::before {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/thermometer.png?raw=true) center center/contain;
  opacity: 0.6;
}

.logo__social-distance::before {
  background: url(https://github.com/ten10program/fireworks/blob/main/img/social-distancing.png?raw=true) center center/contain;
  opacity: 0.6;
}

.infection__text {
  margin: 80px auto 80px;
  max-width: 480px;
  width: 90%;
}

@media (max-width: 767px) {
  .infection__text {
    margin: 40px auto 40px;
    font-size: 12px;
  }
}

.plan__1day {
  overflow: hidden;
}

.plan__1day__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 767px) {
  .plan__1day__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.plan__1day__photo {
  width: 100%;
  height: 400px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/journey.jpg?raw=true) no-repeat center center/cover;
}

.plan__1day__content {
  width: 100%;
  padding-left: 40px;
}

.plan__1day__name {
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 767px) {
  .plan__1day__name {
    font-size: 16px;
    margin-top: 16px;
  }
}

.plan__1day__text {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .plan__1day__text {
    font-size: 12px;
    margin-top: 16px;
  }
}

.plan__2days__wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 767px) {
  .plan__2days__wrapper1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.plan__2days__photo1 {
  width: 100%;
  height: 400px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/ryokan.jpg?raw=true) no-repeat center center/cover;
}

.plan__2days__content1 {
  width: 100%;
  padding-left: 40px;
}

.plan__2days__wrapper2 {
  margin-top: 160px;
  padding-left: 8px;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .plan__2days__wrapper2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }
}

.plan__2days__photo2 {
  width: 100%;
  height: 400px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/cottage.jpg?raw=true) no-repeat center center/cover;
}

.plan__2days__content2 {
  width: 100%;
  padding-left: 40px;
}

.plan__2days__name {
  font-weight: 700;
  font-size: 24px;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .plan__2days__name {
    font-size: 16px;
  }
}

.plan__2days__text {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .plan__2days__text {
    font-size: 12px;
    margin-top: 16px;
  }
}

.access__inner {
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .access__inner {
    font-size: 16px;
  }
}

.access__box {
  background: rgba(0, 0, 0, 0.7);
  color: #eeeeee;
  border: #eeeeee 2px solid;
}

.access__car {
  color: #eeeeee;
  text-align: center;
}

@media (max-width: 767px) {
  .access__car {
    font-size: 16px;
  }
}

.access__car__title {
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 767px) {
  .access__car__title {
    font-size: 16px;
  }
}

.car__body {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .car__body {
    display: block;
    width: 100%;
    height: auto;
  }
}

.car__body .car__col1 {
  width: 10%;
}

@media (max-width: 767px) {
  .car__body .car__col1 {
    width: inherit;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.car__body .car__col1 .car__col1__row1 {
  height: 50%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .car__body .car__col1 .car__col1__row1 {
    height: inherit;
    width: 50%;
    overflow: visible;
  }
}

.car__body .car__col1 .car__col1__row1 .car__osaka {
  margin: 8px;
  height: 184px;
  line-height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .car__body .car__col1 .car__col1__row1 .car__osaka {
    height: inherit;
    line-height: 40px;
    margin: 0 8px;
  }
}

.car__body .car__col1 .car__col1__row2 {
  height: 50%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .car__body .car__col1 .car__col1__row2 {
    height: inherit;
    width: 50%;
    overflow: visible;
  }
}

.car__body .car__col1 .car__hiroshima {
  margin: 8px;
  height: 184px;
  line-height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .car__body .car__col1 .car__hiroshima {
    height: inherit;
    line-height: 40px;
    margin: 0 8px;
  }
}

.car__body .car__col2 {
  width: 30%;
}

@media (max-width: 767px) {
  .car__body .car__col2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
  }
}

.car__body .car__col2 .car__col2__row1 {
  height: 50%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .car__body .car__col2 .car__col2__row1 {
    overflow: visible;
    height: 80px;
    width: 50%;
  }
}

.car__body .car__col2 .car__col2__row1 .car__osaka-kasaoka {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 60px 0 100px;
}

@media (max-width: 767px) {
  .car__body .car__col2 .car__col2__row1 .car__osaka-kasaoka {
    border-bottom: none;
    border-right: solid 4px #eeeeee;
    height: 80px;
    line-height: 80px;
    width: 50%;
    margin: 0;
    text-align: right;
    padding-right: 4px;
    font-size: 12px;
  }
}

.car__body .car__col2 .car__col2__row2 {
  height: 50%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .car__body .car__col2 .car__col2__row2 {
    overflow: visible;
    height: 80px;
    width: 50%;
  }
}

.car__body .car__col2 .car__col2__row2 .car__hiroshima-kasaoka {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 60px 0 100px;
}

.car__body .car__col2 .car__col2__row2 .car__hiroshima-kasaoka br {
  display: none;
}

@media (max-width: 767px) {
  .car__body .car__col2 .car__col2__row2 .car__hiroshima-kasaoka {
    border-bottom: none;
    border-right: solid 4px #eeeeee;
    height: 80px;
    line-height: 20px;
    width: 50%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
    font-size: 12px;
  }
  .car__body .car__col2 .car__col2__row2 .car__hiroshima-kasaoka br {
    display: block;
  }
}

.car__body .car__col3 {
  width: 10%;
}

@media (max-width: 767px) {
  .car__body .car__col3 {
    width: 100%;
    margin-top: 4px;
  }
}

.car__body .car__col3 .car__kasaoka {
  margin: 8px;
  height: 384px;
  line-height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .car__body .car__col3 .car__kasaoka {
    margin: 0 8px;
    height: 40px;
    line-height: 40px;
  }
}

.car__body .car__col4 {
  width: 30%;
}

@media (max-width: 767px) {
  .car__body .car__col4 {
    width: 50%;
    margin-top: 4px;
  }
}

.car__body .car__col4 .car__kasaoka-port {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 160px 0 200px;
}

@media (max-width: 767px) {
  .car__body .car__col4 .car__kasaoka-port {
    border-bottom: none;
    border-right: solid 4px #eeeeee;
    height: 80px;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
  }
}

.car__body .car__col5 {
  width: 10%;
  position: relative;
}

@media (max-width: 767px) {
  .car__body .car__col5 {
    width: 100%;
    margin-top: 4px;
  }
}

.car__body .car__col5 .car__port {
  margin: 8px;
  height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .car__body .car__col5 .car__port {
    margin: 0 8px;
    height: 60px;
  }
}

.car__body .car__col5 .car__port__parking {
  color: #eeeeee;
  position: absolute;
  width: 160px;
  top: 400px;
  right: 0;
  text-align: end;
}

@media (max-width: 767px) {
  .car__body .car__col5 .car__port__parking {
    top: 60px;
    right: 8px;
    width: 100%;
    font-size: 12px;
  }
  .car__body .car__col5 .car__port__parking br {
    display: none;
  }
}

.access__train {
  color: #eeeeee;
  text-align: center;
  margin-top: 160px;
}

@media (max-width: 767px) {
  .access__train {
    font-size: 16px;
  }
}

.access__train__title {
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 767px) {
  .access__train__title {
    font-size: 16px;
  }
}

.train__body {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .train__body {
    display: block;
    height: auto;
  }
}

.train__col1 {
  width: 10%;
}

@media (max-width: 767px) {
  .train__col1 {
    width: inherit;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.train__col1 .train__tokyo {
  margin: 8px;
  height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .train__col1 .train__tokyo {
    height: inherit;
    width: inherit;
    margin: 0 8px;
  }
  .train__col1 .train__tokyo br {
    display: none;
  }
}

.train__col2 {
  width: 30%;
  position: relative;
}

@media (max-width: 767px) {
  .train__col2 {
    width: inherit;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row1 {
    width: 25%;
    height: 160px;
  }
}

.train__col2 .train__col2__row1 .train__tokyo-okayama {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 20px 0 40px;
}

.train__col2 .train__col2__row1 .train__tokyo-okayama br {
  display: none;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row1 .train__tokyo-okayama {
    margin: 0;
    height: inherit;
    width: 75%;
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
  }
  .train__col2 .train__col2__row1 .train__tokyo-okayama br {
    display: block;
  }
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row2 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 160px;
  }
}

.train__col2 .train__col2__row2 .train__col2__row2__1 {
  float: left;
  width: 50%;
  height: 200px;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row2 .train__col2__row2__1 {
    width: 100%;
    height: 80px;
    padding-top: 40px;
  }
}

.train__col2 .train__col2__row2 .train__col2__row2__1 .train__osaka {
  width: 50%;
  float: right;
  margin: 8px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row2 .train__col2__row2__1 .train__osaka {
    width: 100%;
    height: 40px;
    margin: 0;
  }
  .train__col2 .train__col2__row2 .train__col2__row2__1 .train__osaka br {
    display: none;
  }
}

.train__col2 .train__col2__row2 .train__col2__row2__2 {
  float: left;
  width: 50%;
  height: 100px;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row2 .train__col2__row2__2 {
    float: none;
    width: 50%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.train__col2 .train__col2__row2 .train__col2__row2__2 .train__osaka-okayama {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 20px 0 40px;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row2 .train__col2__row2__2 .train__osaka-okayama {
    border-bottom: none;
    border-left: solid 4px #eeeeee;
    height: 80px;
    width: 75%;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 4px;
  }
}

.train__col2 .train__col2__row2 .train__col2__row2__3 {
  float: left;
  width: 50%;
  height: 100%;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row2 .train__col2__row2__3 {
    float: none;
    width: 50%;
    height: 80px;
  }
}

.train__col2 .train__col2__row2 .train__col2__row2__3 .train__osaka-fukuyama {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 20px 0 40px;
}

.train__col2 .train__col2__row2 .train__col2__row2__3 .train__osaka-fukuyama br {
  display: none;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row2 .train__col2__row2__3 .train__osaka-fukuyama {
    border-bottom: none;
    border-right: solid 4px #eeeeee;
    height: 80px;
    width: 75%;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
  }
  .train__col2 .train__col2__row2 .train__col2__row2__3 .train__osaka-fukuyama br {
    display: block;
  }
}

.train__col2 .train__col2__row3 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row3 {
    width: 25%;
    height: 160px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.train__col2 .train__col2__row3 .train__tokyo-fukuyama {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 20px 0 40px;
}

.train__col2 .train__col2__row3 .train__tokyo-fukuyama br {
  display: none;
}

@media (max-width: 767px) {
  .train__col2 .train__col2__row3 .train__tokyo-fukuyama {
    border-bottom: none;
    border-left: solid 4px #eeeeee;
    height: inherit;
    width: 75%;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 4px;
  }
  .train__col2 .train__col2__row3 .train__tokyo-fukuyama br {
    display: block;
  }
}

.train__col3 {
  width: 10%;
}

@media (max-width: 767px) {
  .train__col3 {
    width: 100%;
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .train__col3 .train__col3__row1 {
    width: 50%;
  }
}

.train__col3 .train__col3__row1 .train__okayama {
  margin: 8px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .train__col3 .train__col3__row1 .train__okayama {
    margin: 0 8px;
    height: 40px;
  }
  .train__col3 .train__col3__row1 .train__okayama br {
    display: none;
  }
}

.train__col3 .train__col3__row2 {
  overflow: hidden;
}

@media (max-width: 767px) {
  .train__col3 .train__col3__row2 {
    width: 50%;
  }
}

.train__col3 .train__col3__row2 .train__fukuyama {
  margin: 8px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .train__col3 .train__col3__row2 .train__fukuyama {
    margin: 0 8px;
    height: 40px;
  }
  .train__col3 .train__col3__row2 .train__fukuyama br {
    display: none;
  }
}

.train__col4 {
  width: 10%;
}

@media (max-width: 767px) {
  .train__col4 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .train__col4 .train__col4__row1 {
    width: 50%;
    height: 80px;
  }
}

.train__col4 .train__col4__row1 .train__okayama-kasaoka {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 60px 0 100px;
}

@media (max-width: 767px) {
  .train__col4 .train__col4__row1 .train__okayama-kasaoka {
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    width: 50%;
    height: inherit;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
  }
}

.train__col4 .train__col4__row2 {
  overflow: hidden;
}

@media (max-width: 767px) {
  .train__col4 .train__col4__row2 {
    width: 50%;
    height: 80px;
  }
}

.train__col4 .train__col4__row2 .train__fukuyama-kasaoka {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 60px 0 100px;
}

@media (max-width: 767px) {
  .train__col4 .train__col4__row2 .train__fukuyama-kasaoka {
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    width: 50%;
    height: inherit;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
  }
}

.train__col5 {
  width: 10%;
  position: relative;
}

@media (max-width: 767px) {
  .train__col5 {
    width: 100%;
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.train__col5 .train__kasaoka {
  margin: 8px;
  height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .train__col5 .train__kasaoka {
    margin: 0 8px;
    height: 40px;
    width: 100%;
  }
  .train__col5 .train__kasaoka br {
    display: none;
  }
}

.train__col6 {
  width: 10%;
}

@media (max-width: 767px) {
  .train__col6 {
    width: 100%;
    height: 80px;
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .train__col6 .train__col6__row1 {
    width: 50%;
    height: 80px;
  }
}

.train__col6 .train__col6__row1 .train__kasaoka-fusekoshi {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 60px 0 100px;
}

.train__col6 .train__col6__row1 .train__kasaoka-fusekoshi br {
  display: none;
}

@media (max-width: 767px) {
  .train__col6 .train__col6__row1 .train__kasaoka-fusekoshi {
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    width: 50%;
    height: inherit;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
  }
  .train__col6 .train__col6__row1 .train__kasaoka-fusekoshi br {
    display: block;
  }
}

.train__col6 .train__col6__row2 {
  overflow: hidden;
}

@media (max-width: 767px) {
  .train__col6 .train__col6__row2 {
    width: 50%;
    height: 80px;
  }
}

.train__col6 .train__col6__row2 .train__kasaoka-sumiyoshi {
  border-bottom: solid 4px #eeeeee;
  height: 40px;
  margin: 60px 0 100px;
}

.train__col6 .train__col6__row2 .train__kasaoka-sumiyoshi br {
  display: none;
}

@media (max-width: 767px) {
  .train__col6 .train__col6__row2 .train__kasaoka-sumiyoshi {
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    width: 50%;
    height: inherit;
    margin: 0;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 4px;
  }
  .train__col6 .train__col6__row2 .train__kasaoka-sumiyoshi br {
    display: block;
  }
}

.train__col7 {
  width: 10%;
}

@media (max-width: 767px) {
  .train__col7 {
    width: 100%;
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .train__col7 .train__col7__row1 {
    width: 50%;
  }
}

.train__col7 .train__col7__row1 .train__fusekoshi {
  margin: 8px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .train__col7 .train__col7__row1 .train__fusekoshi {
    margin: 0 8px;
    height: 40px;
  }
}

.train__col7 .train__col7__row2 {
  overflow: hidden;
}

@media (max-width: 767px) {
  .train__col7 .train__col7__row2 {
    width: 50%;
  }
}

.train__col7 .train__col7__row2 .train__sumiyoshi {
  margin: 8px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .train__col7 .train__col7__row2 .train__sumiyoshi {
    margin: 0 8px;
    height: 40px;
  }
}

.access__ship {
  color: #eeeeee;
  text-align: center;
  margin-top: 160px;
}

@media (max-width: 767px) {
  .access__ship {
    font-size: 16px;
  }
}

.access__ship__title {
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 767px) {
  .access__ship__title {
    font-size: 16px;
  }
}

.ship__body {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .ship__body {
    display: block;
    width: 100%;
    height: auto;
  }
}

.ship__col1 {
  width: 20%;
}

@media (max-width: 767px) {
  .ship__col1 {
    width: inherit;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .ship__col1 .ship__col1__row1 {
    height: inherit;
    width: 50%;
    overflow: visible;
  }
}

.ship__col1 .ship__col1__row1 .ship__fusekoshi {
  margin: 8px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .ship__col1 .ship__col1__row1 .ship__fusekoshi {
    height: inherit;
    line-height: 40px;
    margin: 0 8px;
  }
}

.ship__col1 .ship__col1__row2 {
  overflow: hidden;
}

@media (max-width: 767px) {
  .ship__col1 .ship__col1__row2 {
    height: inherit;
    width: 50%;
    overflow: visible;
  }
}

.ship__col1 .ship__col1__row2 .ship__sumiyoshi {
  margin: 8px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .ship__col1 .ship__col1__row2 .ship__sumiyoshi {
    height: inherit;
    line-height: 40px;
    margin: 0 8px;
  }
}

.ship__col2 {
  width: 50%;
}

@media (max-width: 767px) {
  .ship__col2 {
    width: 100%;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
  }
}

.ship__col2 .ship__col2__row1 {
  height: 200px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row1 {
    height: inherit;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
  }
}

.ship__col2 .ship__col2__row1 a {
  position: absolute;
  right: 24px;
  bottom: 48px;
  color: #e8b819;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row1 a {
    top: 244px;
    right: 0;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row1 .ship__col2__row1-1 {
    width: 50%;
  }
}

.ship__col2 .ship__col2__row1 .ship__col2__row1-1 .ship__fusekoshi__forward {
  border-bottom: solid 4px #eeeeee;
  height: 60px;
  margin: 20px 0 20px;
}

.ship__col2 .ship__col2__row1 .ship__col2__row1-1 .ship__fusekoshi__forward br {
  display: none;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row1 .ship__col2__row1-1 .ship__fusekoshi__forward {
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    height: 160px;
    width: 90%;
    margin: 0;
    font-size: 12px;
    text-align: right;
    padding-right: 4px;
    padding-top: 40px;
  }
  .ship__col2 .ship__col2__row1 .ship__col2__row1-1 .ship__fusekoshi__forward br {
    display: block;
  }
  .ship__col2 .ship__col2__row1 .ship__col2__row1-1 .ship__fusekoshi__forward span {
    display: none;
  }
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row1 .ship__col2__row1-2 {
    width: 50%;
  }
}

.ship__col2 .ship__col2__row1 .ship__col2__row1-2 .ship__fusekoshi__back {
  border-bottom: solid 4px #eeeeee;
  height: 0;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row1 .ship__col2__row1-2 .ship__fusekoshi__back {
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    height: 160px;
    width: 10%;
    margin: 0;
  }
}

.ship__col2 .ship__col2__row2 {
  height: 200px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row2 {
    height: inherit;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
  }
}

.ship__col2 .ship__col2__row2 a {
  position: absolute;
  right: 24px;
  bottom: 32px;
  color: #e8b819;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row2 a {
    top: 244px;
    right: 0;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row2 .ship__col2__row2-1 {
    width: 50%;
  }
}

.ship__col2 .ship__col2__row2 .ship__col2__row2-1 .ship__sumiyoshi__forward {
  border-bottom: solid 4px #eeeeee;
  height: 60px;
  margin: 20px 0 20px;
}

.ship__col2 .ship__col2__row2 .ship__col2__row2-1 .ship__sumiyoshi__forward br {
  display: none;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row2 .ship__col2__row2-1 .ship__sumiyoshi__forward {
    border-bottom: none;
    border-right: 4px solid #eeeeee;
    height: 160px;
    width: 90%;
    margin: 0;
    font-size: 12px;
    text-align: right;
    padding-right: 4px;
    padding-top: 40px;
  }
  .ship__col2 .ship__col2__row2 .ship__col2__row2-1 .ship__sumiyoshi__forward br {
    display: block;
  }
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row2 .ship__col2__row2-2 {
    width: 50%;
  }
}

.ship__col2 .ship__col2__row2 .ship__col2__row2-2 .ship__sumiyoshi__back {
  font-weight: 700;
}

.ship__col2 .ship__col2__row2 .ship__col2__row2-2 .ship__sumiyoshi__back br {
  display: none;
}

@media (max-width: 767px) {
  .ship__col2 .ship__col2__row2 .ship__col2__row2-2 .ship__sumiyoshi__back {
    font-size: 12px;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ship__col2 .ship__col2__row2 .ship__col2__row2-2 .ship__sumiyoshi__back br {
    display: block;
  }
}

.ship__col3 {
  width: 20%;
}

@media (max-width: 767px) {
  .ship__col3 {
    width: 100%;
    height: 80px;
    margin-top: 4px;
  }
}

.ship__col3 .ship__kitakijima {
  margin: 8px;
  height: 384px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .ship__col3 .ship__kitakijima {
    margin: 0 8px;
    height: inherit;
  }
}

.qa__items {
  width: 900px;
  max-width: 100%;
  margin: 80px auto 0;
}

.qa__item:nth-child(n + 2) {
  margin-top: 24px;
}

.qa-box {
  border: 1px solid #eeeeee;
}

.qa-box__q {
  color: #eeeeee;
  background: rgba(0, 0, 0, 0.7);
  padding: 12px 56px;
  font-weight: 700;
  position: relative;
}

.qa-box__q::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
}

@media (max-width: 767px) {
  .qa-box__q {
    font-size: 12px;
  }
}

.qa-box__icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-box__icon.is-open .qa-box__bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa-box__bar1 {
  width: 14px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.qa-box__bar2 {
  width: 2px;
  height: 14px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box__a {
  background: rgba(34, 34, 34, 0.7);
  font-weight: 700;
  color: #eeeeee;
  line-height: 1.5;
  padding: 16px 30px 16px 20px;
  display: none;
}

.qa-box__content {
  position: relative;
  padding-left: 35px;
}

@media (max-width: 767px) {
  .qa-box__content {
    font-size: 12px;
  }
}

.qa-box__content::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 12px;
}

.news__item:not(:first-child) {
  border-top: 1px solid #eeeeee;
}

@media (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news__date {
  font-size: 16px;
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .news__date {
    font-size: 12px;
  }
}

.news__label a {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #eeeeee;
  background: #223;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .news__label a {
    font-size: 12px;
    width: 64px;
    height: 24px;
    line-height: 24px;
  }
}

.news__label a.is-yellow {
  background: #e8b819;
}

.news__label a:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100%-185px);
  padding-top: 4px;
  padding-left: 20px;
}

.news__title a {
  color: #eeeeee;
  text-decoration: none;
  line-height: 1.25;
}

@media (max-width: 767px) {
  .news__title {
    width: 100%;
    padding: 0;
    margin-top: 6px;
    font-size: 12px;
  }
}

.conversion {
  padding: 80px 0 80px;
}

.conversion__text {
  font-size: 24px;
  color: #e8b819;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 767px) {
  .conversion__text {
    font-size: 16px;
  }
}

.conversion__button {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  width: 80vw;
  margin: 40px auto 80px;
}

@media (max-width: 767px) {
  .conversion__button {
    font-size: 16px;
  }
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  padding: 60px 0 24px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}

.footer__inner {
  width: 90%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 70%;
}

@media (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__logo {
  padding-left: 80px;
  position: relative;
}

@media (max-width: 767px) {
  .footer__logo {
    padding-left: 56px;
  }
}

.footer__logo a {
  color: #eeeeee;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer__logo a {
    font-size: 16px;
  }
}

.footer__logo a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: url(https://github.com/ten10program/fireworks/blob/main/img/fireworks-logo2.png?raw=true) center center/cover;
}

@media (max-width: 767px) {
  .footer__logo a::before {
    width: 40px;
    height: 40px;
  }
}

.footer__address,
.footer__tel {
  font-size: 12px;
}

.footer__address {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .footer__address {
    margin-top: 16px;
  }
}

.footer__right {
  width: 30%;
}

@media (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  .footer__sns {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__sns li:not(:first-child) {
  margin-left: 16px;
}

.footer__sns li a {
  text-decoration: none;
}

.footer__sns li a img {
  width: 24px;
}

.footer__copy {
  display: block;
  width: 100%;
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .footer__copy {
    margin-top: 24px;
  }
}
